@model Employees
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@if (Model != null)
{
    using (Html.BeginForm())
    {
        <input type="hidden" id="hidden" value="@Model.Id" />
        <div class="form-group">
            <label for="@Model.EmpName" class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" id="name" class="form-control" value="@Model.EmpName" />
            </div>
        </div>
        <div class="form-group">
            <label for="@Model.Email" class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                <input type="text" id="email" class="form-control" value="@Model.Email" />
            </div>
        </div>
        <div class="form-group">
            <label for="@Model.Phone" class="control-label col-md-2">Phone</label>
            <div class="col-md-10">
                <input type="text" id="phone" class="form-control" value="@Model.Phone" />
            </div>
        </div>
        <div class="form-group">
            <label for="@Model.Address" class="control-label col-md-2">Address</label>
            <div class="col-md-10">
                <input type="text" id="address" class="form-control" value="@Model.Address" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnUpdate" value="Update" class="btn btn-primary" />
            </div>
        </div>
    }}
else
{
    <text>Employee doesn not exists.</text>
}

@Html.ActionLink("Employee List", "Index")

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnUpdate").on("click", function () {
                var empData = {
                    Id: $("#hidden").val(),
                    EmpName: $("#name").val(),
                    email: $("#email").val(),
                    phone: $("#phone").val(),
                    address: $("#address").val()
                };

                $.ajax({
                    method: "POST",
                    url: "/Home/Edit",
                    data: { empData },
                    success: function (res) {
                        console.log(res.responseText);
                        window.location.href = "/Home/Index";
                    },
                    error: function (err) {
                        console.log(err.responseText);
                        alert("Error in saving data.");
                    }
                });
            });
        });
    </script>
}

