@model IEnumerable<MVCTrainingProject.Models.Employees>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Count() - 1; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.ElementAt(i).EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ElementAt(i).Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ElementAt(i).Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ElementAt(i).Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ElementAt(i).Id }) |
                @Html.ActionLink("Details", "Details", new { id = Model.ElementAt(i).Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.ElementAt(i).Id })
            </td>
        </tr>
    }

</table>
